<!DOCTYPE html>
<html>
<head>
	<title>More images that represent me!</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
	<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
</head>
<body>
	<div class="more">
		<a href="../index.html#images"><img id="arrow" src="../images/arrow2.png" width="200px" height="200px" /></a>
	</div>
	<div id="images" class="row">
		<figure class="column">
			<img src="../images/zabars.jpg" width="488px" height="325px" alt="Zabar's store">
			<figcaption>Tasty stuff</figcaption>
		</figure>

		<figure class="column">
			<img src="../images/coffeeTime.png" width="352px" height="325px" alt="Clock made out of coffee cups">
			<figcaption>It's always coffee time</figcaption>
		</figure>

		<figure class="column">
			<img src="../images/milanesa.jpg" width="455px" height="325px" alt="Cutlet with tomato sauce, cheese, and fries">
			<figcaption>This is a milanesa!</figcaption>
		</figure>
	</div>

	<div class="row">
		<figure class="column">
			<img src="../images/beatles.jpg" width="616px" height="325px" alt="The Beatles in colorful military clothes">
			<figcaption>Their music will never get old</figcaption>
		</figure>

		<figure class="column">
			<img src="../images/ikea.jpg" width="756px" height="325px" alt="IKEA logo animation">
			<figcaption>What I do on my days off</figcaption>
		</figure>
	</div>
	<br/>
</body>
</html>