<!DOCTYPE html>
<html>
<head>
	<title>More images that represent me!</title>
</head>
<body>
	<h2>Some more...</h2>	

	<figure>
		<img src="../images/zabars.jpg" width="500px" height="333px" alt="Zabar's store">
		<figcaption>Tasty stuff</figcaption>
	</figure>

	<figure>
		<img src="../images/coffeeTime.png" width="600px" height="554px" alt="Clock made out of coffee cups">
		<figcaption>It's always coffee time</figcaption>
	</figure>

	<figure>
		<img src="../images/milanesa.jpg" width="700px" height="500px" alt="Cutlet with tomato sauce, cheese, and fries">
		<figcaption>I wish it were possible to transfer smell through the screen :/</figcaption>
	</figure>

	<figure>
		<img src="../images/beatles.jpg" width="567px" height="299px" alt="The Beatles in colorful military clothes">
		<figcaption>My first ever favorite band</figcaption>
	</figure>

	<figure>
		<img src="../images/ikea.gif" width="800px" height="600px" alt="IKEA logo animation">
		<figcaption>My home basically</figcaption>
	</figure>

	<br />
	<h2> <a href="../index.html" target="_blank">Click here</a> to go back!</h2>
</body>
</html>